*.fin linguist-language=Stingray
*.sray linguist-language=Stingray
*.srl linguist-language=Stingray

*.cpp linguist-vendored
*.g4 linguist-vendored
*.txt lingust-vendored
Grammar/* linguist-vendored
parser/* liguist-vendored
