*.fin linguist-language=Fern
*.sray linguist-language=Fern
*.srl linguist-language=Fern

*.cpp linguist-vendored
*.g4 linguist-vendored
*.txt lingust-vendored
Grammar/* linguist-vendored
parser/* liguist-vendored
