*.fern linguist-language=Fern
*.frn linguist-language=Fern
*.fnl linguist-language=Fern

*.cpp linguist-vendored
*.g4 linguist-vendored
parser/CMakeLists.txt lingust-vendored
Grammar/* linguist-vendored
parser/* liguist-vendored
